
/* Add your CSS code here */
  body::before {
     display: block;
     content: '';
     height: 60px;
  }
body{color:white}
#bg{
   background-image: url("https://img.freepik.com/free-vector/dynamic-wavy-background-design_1055-2895.jpg?size=626&ext=jpg&ga=GA1.1.722360926.1712360277&semt=sph");
   background-position: "center";
   background-size:"cove";
   background-repeat: repeat;
  
}

