<!DOCTYPE html>
<html>
<head>
<%- include('../layouts/header')%>
  <link rel="stylesheet" href="css/style.css">
    <title>My Home Page</title>
</head>
<body>
    <header>
    <%- include('../layouts/navbar')%>
    </header>
  <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5  pt-sm-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Become a <span class="text-warning">Web Developer</span></h1>
            <p class="lead my-4">
              We focus on teaching our students the fundamentals of the lastes
              and greatest technologies to prepare them for their first dev role
            </p>
            <button class="btn btn-primary btn-lg " data-bs-toggle = "modal" data-bs-target="#enroll">Start The Enrollment</button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="https://media.licdn.com/dms/image/D5612AQEhKguQVjXr4g/article-cover_image-shrink_600_2000/0/1693971265825?e=2147483647&v=beta&t=vRAWRIEHIp6sKRbLxQ_QmHTgjmTRYhj8vOLwlhskjzg"
            alt=""
          />
        </div>
      </div>
    </section>









     <!--footer-->
    <%- include('../layouts/footer')%>

    <!--bostrap and local js-->
     <%- include('../layouts/script')%>

  
  </body>
</html>