<!DOCTYPE html>
<html>
<head>
<%- include('../layouts/header')%>
  <link rel="stylesheet" href="css/style.css">
    <title>My Home Page</title>
</head>
<body>
    <header>
    <%- include('../layouts/navbar')%>
    </header>
  <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5  pt-sm-5 text-center text-sm-start"
    >
      <div class="container ">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>News <span class="text-warning">Be Informed about What is going on at Your Community</span></h1>
            <p class="lead my-4">
             Here is where you can find the news about your community and event that your orgonise you community
            </p>
            <button class="btn btn-primary btn-lg " data-bs-toggle = "modal" data-bs-target="#enroll">Start The Enrollment</button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="https://media.licdn.com/dms/image/D5612AQEhKguQVjXr4g/article-cover_image-shrink_600_2000/0/1693971265825?e=2147483647&v=beta&t=vRAWRIEHIp6sKRbLxQ_QmHTgjmTRYhj8vOLwlhskjzg"
            alt=""
          />
        </div>
      </div>
    </section>
  <!--News-->
  <section class="py-3">
    <div class="container text-dark shadow-sm ">
      <h2 class="py-3 ft-bold">News</h2>
    <hr>
      <di>
        <p></p>
      </di>
      <di>
        <div class= "w-25 h-25">
          <img 
            src="https://randomuser.me/api/portraits/men/13.jpg"
            alt=""
            class="rounded-circle mb-3"
          />
        </div>
       
        <h3>Pirince Liyo</h3>
        <p>publish 6:20pm 04-05-2024</p>
        <h2>News Title</h2>
        <div class="row">
          <div class="col-lg-8">
            <p>here will be the content of the post every thing that will be post it going to show up here</p>
          </div>
          <div class="col-lg-4">
            <img class="img-fluid w-100" src="https://img.freepik.com/premium-vector/green-wave-green-abstract-wave-flow-vector-abstract-design-element_206325-643.jpg?size=626&ext=jpg&ga=GA1.1.722360926.1712360277&semt=sph">
          </div>
        </div>
       
      </div>
      
      
    </div>
  </section>









     <!--footer-->
    <%- include('../layouts/footer')%>

    <!--bostrap and local js-->
     <%- include('../layouts/script')%>


  </body>
</html>