<!DOCTYPE html>
<html>
  <head>
    <%- include('../layouts/header')%>
    <link rel="stylesheet" href="css/style.css" />
    <title>My Home Page</title>
  </head>
  <body>
    <header><%- include('../layouts/navbar')%></header>
    <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 pt-sm-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>404 <span class="text-warning"> - Page Not Found </span></h1>
            <p class="lead my-4">
             The requested page could not be found
            </p>
         
        </div>
      </div>
    </section>
   
    <!--footer-->
    <%- include('../layouts/footer')%>

    <!--bostrap and local js-->
    <%- include('../layouts/script')%>
  </body>
</html>
