<!DOCTYPE html>
<html>
<head>
<%- include('../layouts/header')%>
  <link rel="stylesheet" href="css/style.css">
    <title>My Home Page</title>
</head>
<body>
    <header>
    <%- include('../layouts/navbar')%>
    </header>
  <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5  pt-sm-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Become a <span class="text-warning">Web Developer</span></h1>
            <p class="lead my-4">
              We focus on teaching our students the fundamentals of the lastes
              and greatest technologies to prepare them for their first dev role
            </p>
            <button class="btn btn-primary btn-lg " data-bs-toggle = "modal" data-bs-target="#enroll">Start The Enrollment</button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="https://media.licdn.com/dms/image/D5612AQEhKguQVjXr4g/article-cover_image-shrink_600_2000/0/1693971265825?e=2147483647&v=beta&t=vRAWRIEHIp6sKRbLxQ_QmHTgjmTRYhj8vOLwlhskjzg"
            alt=""
          />
        </div>
      </div>
    </section>
  <!-- question form -->
  <section>
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between container lead text-dark g-5 py-5">
        <div class="w-100">
          <h2 class="h1">
            Share the information that you have to help someone in your community
          </h2>
          <p>The information that you have can be a great help for someone in Your community who is in need of it. please Share the good News </p>
        </div>

        <form class="w-100">

            <div class="mb-3">
              <label for=name" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="name" placeholder="name">
            </div>
            <div class="mb-3">
              <label for=title" class="form-label">Question Title</label>
              <input type="text" class="form-control" id="title" placeholder="ex: assurance">
            </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">upload an Images Or a Videos</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>
            <div class="mb-3">
              <label for="questio-body" class="form-label">What Do you that can help someone </label>
              <textarea class="form-control" id="questio-body" rows="5"></textarea>
            </div>
               <button type="submit" class="btn btn-primary">Submit</button>
          </div>

            </form>
      </div>


  </section>











     <!--footer-->
    <%- include('../layouts/footer')%>

    <!--bostrap and local js-->
     <%- include('../layouts/script')%>


  </body>
</html>